<%= render partial: 'proposals/lead_organizer' %>
<% title_present = @proposal.title.present? %>
<div>
  <h3 class="form-section"><%= I18n.t('proposals.form.add_organizers') %></h3>
  <% unless title_present %>
    <p class="field-validation">Please, fill in title and save before proceeding</p>
  <% end %>
  <p><%= @proposal.proposal_type.organizer_description&.html_safe %></p>
  <% if @proposal.invites.organizer %>
    <%= render partial: 'proposals/organizer', locals: { invites: @proposal.invites.organizer } %>
  <% end %>
  <div>
    <% if max_invitations(@proposal, 'Organizer') %>
      <% date = @proposal.invites.where(invited_as: 'Organizer').first&.deadline_date&.to_date %>
      <% unless date.nil? %>
        <% date = date  < DateTime.current.to_date ? DateTime.current.to_date : @proposal.invites.where(invited_as: 'Organizer').first&.deadline_date&.to_date %>
      <% end %>
      <div class="mb-3">
        <template data-nested-invites-target="template">
          <%= form.fields_for :invites, Invite.new, child_index: 'NEW_RECORD' do |invite| %>
            <%= render partial: 'proposals/invite', locals: { f: invite, invited_as: 'Organizer', date: date } %>
          <% end %>
        </template>
        <div data-nested-invites-target="target"></div>
        <button type="button" class="btn btn-light" data-action="nested-invites#addOrganizers" id="add-more-organizer" <%= title_present ? '' : 'disabled' %>>
          <%= I18n.t('proposals.form.new_organizers_invite') %>
        </button>
      </div>
      <div class="mb-3">
        <button id="organizer" data-action="click->nested-invites#invitePreview" data-id="<%= @proposal.id %>" class="btn btn-primary" <%= title_present ? '' : 'disabled' %>><%= I18n.t('proposals.form.invite_organizers') %></button>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-4">
  <div class="mb-3">
    <h3 class="form-section"><%= I18n.t('proposals.form.add_participants') %></h3>
    <% unless title_present %>
      <p class="field-validation"><%= I18n.t('proposals.form.fill_in_title') %></p>
    <% end %>
    <p><%= @proposal.proposal_type.participant_description&.html_safe %></p>

    <% if @proposal.invites.participant %>
      <%= render partial: 'proposals/organizer', locals: { invites: @proposal.invites.participant } %>
    <% end %>
    <div>
      <% if max_invitations(@proposal, 'Participant') %>
        <% date = @proposal.invites.where(invited_as: 'Participant').first&.deadline_date&.to_date %>
        <% unless date.nil? %>
          <% date = date < DateTime.current.to_date ? DateTime.current.to_date : @proposal.invites.where(invited_as: 'Participant').first&.deadline_date&.to_date %>
        <% end %>
        <div class="mb-3">
          <template data-nested-invites-target="templateOne">
            <%= form.fields_for :invites, Invite.new, child_index: 'NEW_RECORD' do |invite| %>
              <%= render partial: 'proposals/invite', locals: { f: invite, invited_as: 'Participant', date: date } %>
            <% end %>
          </template>
          <div data-nested-invites-target="targetOne"></div>
          <button type="button" class="btn btn-light" data-action="nested-invites#addParticipants" id="add-more-participant" <%= title_present ? '' : 'disabled' %>>
            <%= I18n.t('proposals.form.new_participants_invite') %>
          </button>
        </div>
        <div class="mb-3">
          <button id="participant" data-action="click->nested-invites#invitePreview" data-id="<%= @proposal.id %>" class="btn btn-primary" <%= title_present ? '' : 'disabled' %>><%= I18n.t('proposals.form.invite_participants') %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
