<div data-controller="demographic-charts"
     data-demographic-charts-career-labels-value="<%= submitted_career_labels %>"
     data-demographic-charts-career-value="<%= submitted_career_values %>"
     data-demographic-charts-gender-labels-value="<%= submitted_gender_labels %>"
     data-demographic-charts-gender-value="<%= submitted_gender_values %>"
     data-demographic-charts-stem-labels-value="<%= submitted_stem_labels %>"
     data-demographic-charts-stem-value="<%= submitted_stem_values %>"
>
  <div class="mb-3">Charts</div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title">Nationality</h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Nationality</th>
                <th>No.</th>
              </tr>
            </thead>
            <tbody>
              <% submitted_nationality_data.each do |key, value| %>
              <tr>
                <td><%= key %></td>
                <td><%=  value %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title">Ethnicity</h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Ethnicity</th>
                <th>No.</th>
              </tr>
            </thead>
            <tbody>
              <% submitted_ethnicity_data.each do |key, value| %>
              <tr>
                <td><%= key %></td>
                <td><%=  value %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title">Gender</h5>
          <!-- <h6 class="card-subtitle text-muted">A line chart is a way of plotting data points on a line.</h6> -->
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas data-demographic-charts-target="genderChart" id="chartjs-gender"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title">Under-represented minority in STEM</h5>
          <!-- <h6 class="card-subtitle text-muted">A line chart is a way of plotting data points on a line.</h6> -->
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas data-demographic-charts-target="stemChart" id="chartjs-stem"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title">Career Stage</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas data-demographic-charts-target="careerChart" id="chartjs-career"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
