<% if @proposals.present? %>
  <%= turbo_stream.remove "proposal_placeholders_for_#{@type}" %>

  <%= turbo_stream.append "proposals_by_type_#{@type}" do %>
    <% @proposals&.each do |proposal| %>
      <div class="row border-bottom mb-3 align-items-center">
        <div class="col-sm">
          <input type="checkbox" name="reviewed" data-action="click->submitted-proposals#storeID" id="<%= proposal.id %>_checkbox" class="proposals-checkboxes" data-value="<%= proposal.id %>">
        </div>
        <div class="col-sm"><%= proposal.code %></div>
        <div class="col-sm"><%= proposal.title %></div>
        <div class="col-sm"><%= proposal.proposal_type.name %></div>
        <div class="col-sm"><%= proposal.lead_organizer&.fullname %></div>
        <div class="col-sm">
          <% proposal.locations.each do |loc| %>
            <%= loc.code %><br>
          <% end %>
        </div>
        <div class="col-sm">
          <div class="form-group" data-submitted-proposals-target="proposalLocation" data-id=<%= proposal.id %> >
            <label data-action="click->submitted-proposals#handleLocations" data-id=<%= proposal.id %>><%= proposal.assigned_location&.code %></label>
          </div>
          <div class="hidden form-group" data-submitted-proposals-target="locationOptions" data-id=<%= proposal.id %> >
            <input type="hidden" id="proposal_id" name="proposal_id" value="<%= proposal.id %>">
            <%= select_tag :status, options_for_select(locations), include_blank: '', class: 'form-select', data: { 'action': 'change->submitted-proposals#proposalLocations', 'submitted-proposals-target': 'location', 'id': proposal.id }, required: true %>
          </div>
        </div>
        <div class="<%= proposal_status_class(proposal.status) %> col-sm" >
          <div class="form-group" data-submitted-proposals-target="proposalStatus" data-id=<%= proposal.id %> >
            <label data-action="click->submitted-proposals#handleStatus" data-id=<%= proposal.id %>><%= proposal.status&.split('_')&.map(&:capitalize)&.join(' ') %></label>
          </div>
          <div class="hidden form-group" data-submitted-proposals-target="statusOptions" data-id=<%= proposal.id %> >
            <input type="hidden" id="proposal_id" name="proposal_id" value="<%= proposal.id %>">
            <%= select_tag :status, options_for_select(specific_proposal_statuses, proposal.status), include_blank: '', class: 'form-select', data: { 'action': 'change->submitted-proposals#proposalStatuses', 'submitted-proposals-target': 'status', 'id': proposal.id }, required: true %>
          </div>
        </div>
        <div class="col-sm"><%= proposal.outcome&.capitalize %></div>
        <div class="col-sm"><%= proposal.updated_at.to_date %></div>
        <div class="col-sm"><%= proposal&.edit_flow %></div>
        <div class="col">
          <%= link_to '<i class="align-middle fas fa-fw fa-print"></i>PDF'.html_safe, rendered_proposal_proposal_path(proposal.id, :format => :pdf), target: '_blank' %>
          <%= link_to '<i class="align-middle fas fa-fw fa-pen"></i>Edit'.html_safe, edit_submitted_proposal_url(proposal) %>
          <%= link_to '<i class="align-middle fas fa-fw fa-eye"></i>Show'.html_safe, submitted_proposal_url(proposal) %>
          <%= link_to '<i class="align-middle mr-2 fas fa-fw fa-clone"></i>Versions'.html_safe, versions_proposal_url(proposal) %>
          <%= link_to '<i class="align-middle fas fa-fw fa-trash" data-toggle="tooltip" title="Delete" ></i>Delete'.html_safe,submitted_proposal_url(proposal), method: :delete , data: {confirm: "Are you sure you want to delete this proposal?"} %>
          <%= link_to '<i class="align-middle mr-2 fas fa-fw fa-file"></i>Reviews'.html_safe, reviews_submitted_proposal_path(proposal) %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= turbo_stream.update "proposals_pagination_for_#{@type}" do %>
    <div class="row">
      <% if @pagy.next.present? %>
        <div class="col">
          <%= link_to "Next", submitted_proposals_path(page: @pagy.next, proposal_type: @type), data: { turbo_stream: true }, class: "" %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <p class="text-center"><%== pagy_info @pagy %></p>
    </div>
  <% end %>
<% end %>
