<div class="container-fluid">
  <div class="row py-4">
    <div class="col"><h3><%= type %></h3></div>
  </div>

  <%= turbo_frame_tag "#{type}_proposal_headers" do %>
    <div class="row border-bottom pb-3 mb-1 fw-bold">
      <div class="col-xl col-sm-12"></div>
      <div class="col-xl col-sm-12">Code</div>
      <div class="col-xl col-sm-12">Proposal Title</div>
      <div class="col-xl col-sm-12">Lead Organizer</div>
      <div class="col-xl col-sm-12">Preferred Location</div>
      <div class="col-xl col-sm-12">Assigned Location</div>
      <div class="col-xl col-sm-12">Status</div>
      <div class="col-xl col-sm-12">Outcome</div>
      <div class="col-xl col-sm-12">Updated at</div>
      <div class="col-xl col-sm-12">Submitted to EditFlow</div>
      <div class="col-xl col-sm-12">Actions</div>
    </div>
  <% end %>

  <%= turbo_frame_tag "#{type}_proposals", src: submitted_proposals_path(format: :turbo_stream, page: params[:page], **@search_params.merge(proposal_type: type)), loading: :lazy do %>
    <%= render partial: 'submitted_proposals/index/proposal_placeholder_rows', locals: { type: type } %>
  <% end %>

  <%= turbo_frame_tag "#{type}_pagination" %>
</div>
