<div class="row lead">
  <div class="col-3 text-center">
    <%= link_to I18n.t('proposals.ui.current_year', year: @current_year), submitted_proposals_path(workshop_year: @current_year), class: 'text-muted' %>
  </div>
  <div class="col-6 text-center">
    <% if @prev_year.present? %>
      <%= link_to '<i class="text-muted fas fa-thin fa-arrow-left" title="previous"></i>'.html_safe, submitted_proposals_path(workshop_year: @prev_year) %>
    <% end %>
    <% if @selected_year_object.present? %>
      <span class="text-muted"><%= @selected_year_object.year %></span>
    <% end %>
    <% if @next_year.present? %>
      <%= link_to '<i class="text-muted fas fa-thin fa-arrow-right" title="next"></i>'.html_safe, submitted_proposals_path(workshop_year: @next_year) %>
    <% end %>
  </div>
  <div class="col-3 text-center">
    <%= link_to I18n.t('proposals.ui.no_year_set'), submitted_proposals_path(workshop_year: ProposalFiltersQuery::EMPTY_YEAR), class: 'text-muted' %>
  </div>
</div>
